@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Red Hat Text', sans-serif;;
    font-weight: 400;
    font-size: 17px;
}

.navigation_container {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 20%;
    background-color: #0088aa;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.header_container{
    position: absolute;
    top:0px;
    right: 0px;
    height: 60px;
    width: 80%;
    background-color: #37abc8;
}

.body_container{
    position: absolute;
    top:70px;
    right: 10px;
    width: 80%;
    height: 100%;
    z-index: -1;
}

.menu_navigation{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 200px;
}

.menu_item{
    font-weight: 500;
    font-size: 18px;
    color: aliceblue;
    padding: 10px 20% 10px 20%;
}

.menu_item:hover{
    background-color: #37abc8;
}

.row_container{
    display: flex;
    flex-direction: row;
    height: 20%;
    gap:20px;
    padding: 30px;
}

#first_column{
    margin-left: 20px;
}

.column_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
}

label{
    font-size: 15px;
    font-weight: 600;
}

