@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Red Hat Text', sans-serif;;
    font-weight: 400;
    font-size: 15px;
}

.navigation_container {
    position: absolute;
    top: 0px;
    height: 1200px;
    width: 20%;
    background-color: #0088aa;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.header_container{
    position: absolute;
    top:0px;
    right: 0px;
    height: 60px;
    width: 80%;
    background-color: #37abc8;
}

.body_container{
    position: absolute;
    top:70px;
    right: 15px;
    width: 78%;
    height: 100%;
    z-index: 1;
}

.menu_navigation{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.menu_item{
    font-weight: 400;
    font-size: 18px;
    color: aliceblue;
    padding: 10px 20% 10px 20%;
}

i{
    padding: 0px 15px 0px 0px;
}

.menu_item:hover{
    background-color: #37abc8;
}

.row_container{
    display: flex;
    flex-direction: row;
    gap:20px;
    padding: 30px 30px 0px 0px;
}

.column_container{
    display: flex;
    flex-direction: column;
    gap: 10px ;
    padding: 10px 10px 10px 10px;
    width: 100%;
}

label{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}

h2{
    color: rgb(59, 59, 59);
    font-weight: 700;
    font-size: 25px;
    border-bottom: #b9b9b9 solid 1px;
    padding-bottom: 10px;
    width: 35%;
    margin-top: 10px;
}

select, input{
    border: rgb(221, 221, 221) solid 1px;
    padding: 5px;
    border-left: #0088aa solid 4px;
    background-color: #ffffff;
    font-size: 15px;
}

input:focus, select:focus{
    outline: none;
    background-color: rgb(238, 238, 238);
}

option{
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}

.register_button{
    border-radius: 25px;
    color: aliceblue;
    background-color: #09B87A;
    border: none;
    padding: 10px;
    font-size: 17px;
    font-weight: 600;
    width: 70%;
    margin-top: 15px;
}

.register_button:hover{
    background-color: #18ad79;
}

.fa-bars{
    color: #ffffff;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 15px;
}

th, .header_row{
    border-bottom: #37abc8 solid 2px;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    font-weight: 700;
    background-color: #eeeeee;
}

table, tr {
    border-bottom: #b9b9b9 solid 1px;
    border-collapse: collapse;
    text-align: left;
    font-weight: 700;
    margin-top: 40px;
}

td, th {
    padding: 10px;
    font-size: 14px;
}

.column_edit{
    padding-top: 35px;
    padding-bottom: 35px;
}

.row_edit{
    background-color: aliceblue;
    border: #e0e0e0 solid 1px;
    display: none;
}

.edit_column {
    margin-left: 10px;
}

.icon_delete{
    background-color: aliceblue;
    border: none;
}

.column_edit_button{
    padding: 5px 20px 5px 20px;
    border: none;
    background-color: #ffffff;
}

i{
    text-align: center;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.tablinks {
    font-size: 16px;
}