{% extends 'menu.html' %}

{% block apontamento %}
<div id ="body_container_id" class="body_container">
    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'manual')" id="defaultOpen">Manual</button>
        <button class="tablinks" onclick="openCity(event, 'primme')">Primme SF</button>
        <button class="tablinks" onclick="openCity(event, 'digital')">Ponto Digital</button>
    </div>
        
    <!-- Tab content -->
    <div id="manual" class="tabcontent">
        <div class="medium_container">
            <!-- Aqui inicia o formulário de apontamento manual -->
            <form class="row_container" action="{% url 'apontamento' %}" method="post">
                <input type="hidden" name="form_name" value="manual">
                <div class="column_container">
                    {% csrf_token %}
                    <label for="pis">Colaborador:</label>
                    <select name="pis">
                        {% for name in DataCollab %}
                        <option value="{{name.pis}}">{{name.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="entry_one">Entrada 1:</label>
                    <input name="entry_one" type="time" value='00:00'>
                    <label for="entry_two">Entrada 2:</label>
                    <input name="entry_two" type="time" value='00:00'>
                    <label for="entry_three">Entrada 3:</label>
                    <input name="entry_three" type="time" value='00:00'>
                    <label for="info">Informação:</label>
                    <select name="info">
                        <option value="1">Apontado</option>
                        <option value="2">Falta</option>
                        <option value="3">Feriado</option>
                        <option value="4">Atestado</option>
                    </select>
                </div>
                <div class="column_container">
                    <label for="date">Data: </label>
                    <input name="date" type="date">
                    <input type="hidden" name="form_name" value="manual">
                    <label for="exit_one">Saída 1:</label>
                    <input name="exit_one" type="time" value='00:00'>
                    <label for="exit_two">Saída 2:</label>
                    <input name="exit_two" type="time" value='00:00'>
                    <label for="exit_three">Saída 3:</label>
                    <input name="exit_three" type="time" value='00:00'>
                    <input type="submit" value="Salvar" class="register_button">
                </div>
            </form>
            <!-- Aqui termina o formulário -->
        </div>
        {% block return_message %}{% endblock return_message %}
    </div>
    <div id="primme" class="tabcontent">
        <form action="{% url 'apontamento' %}" method="post" enctype="multipart/form-data">
               {% csrf_token %}
                <input type="hidden" name="formulario" value="primme">
                {{ formPrimme }}
                <input type="submit" value="Enviar" class="salvar">
        </form>
        {{msg}}
    </div>
        
    <div id="digital" class="tabcontent"></div>
</div>
{% endblock apontamento %}
