{% extends 'apontamento.html' %}
{% block return_message %}
<div class="return_container">
    <div class="success_message">O colaborador '{{collab}}' foi  apontado com sucesso!</div>
    <table class="return_container_table">
        <tr>
            <th class="return_th">PIS</th>
            <th class="return_th">Data</th>
            <th  class="return_th">Entrada 1</th>
            <th class="return_th">Saída 1</th>
            <th class="return_th">Entrada 2</th>
            <th class="return_th">Saída 2</th>
            <th class="return_th">Entrada 3</th>
            <th class="return_th">Saída 3</th>
            <th class="return_th">Informação</th>
        </tr>
        <tr>
            <td>{{pis}}</td>
            <td>{{date}}</td>
            <td>{{entry_one}}</td>
            <td>{{exit_one}}</td>
            <td>{{entry_two}}</td>
            <td>{{exit_two}}</td>
            <td>{{entry_three}}</td>
            <td>{{exit_three}}</td>
            <td>{{info}}</td>
        </tr>
    </table>
</div>
{% endblock return_message %}
