{% extends 'menu.html' %}

{% block relatorio %}
<div id ="body_container_id" class="body_container">
    <div class="column_container">
        <h2>Relatório de Apontamento</h2>
    </div>
    
    <!-- Formulário para filtrar apontamento -->
    <form action="/relatorio/" class="row_container" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_name" value="filtro">
            <div class="column_container">
                <label for="pis">Colaborador:</label>
                <select name="pis">
                    {% for name in DataCollab %}
                    <option {% if collab.pis == name.pis %}selected{% endif %} value="{{name.pis}}">{{name.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="column_container">
                <label for="date">Data:</label>
                <input name="date" type="month" value="{{date}}">
            </div>
            <div class="column_container">
                <input class="filter_button" type="submit">
            </div>
    </form>

    {% block relatorio_return %}{% endblock relatorio_return %}
</div>
{% endblock relatorio %}